<section id='meeting'>
  <header>
    <h1><%= @meeting.classroom.name %></h1>
    <h2><%= l DateTime.now, format: :day_time %></h2>
  </header>
  <div id='end-class'><%= link_to 'End Class', classrooms_path %></div>
  <section id='students-list'>
    <ul>
      <%= @meeting.classroom.students.each do |student| %>
        <%= render 'student', student: student %>
      <% end %>
    </ul>
  </section>
</section>
